In [93]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
Dataframe = pd.read_csv('winequality-red.csv')
Dataframe.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [70]:
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [71]:
Dataframe.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [72]:
Dataframe.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [95]:
data=Dataframe
y = data.quality
X = data.drop('quality', axis=1)

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [97]:
print(X_train.head())

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1380            7.5             0.570         0.02             2.6      0.077
1167            8.2             0.330         0.39             2.5      0.074
1542            6.7             0.855         0.02             1.9      0.064
337             7.8             0.430         0.32             2.8      0.080
913             9.4             0.395         0.46             4.6      0.094

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1380                 11.0                  35.0  0.99557  3.36       0.62
1167                 29.0                  48.0  0.99528  3.32       0.88
1542                 29.0                  38.0  0.99472  3.30       0.56
337                  29.0                  58.0  0.99740  3.31       0.64
913                   3.0                  10.0  0.99639  3.27       0.64

      alcohol
1380    10.80
1167    12.40
1542    10.75
337     10.30
913     12.20

In [99]:
X_train_scaled = preprocessing.scale(X_train)
print (X_train_scaled)

[[-0.45353465  0.23358716 -1.26826545 ...  0.30331186 -0.21687357
   0.33245163]
 [-0.0528542  -1.10127115  0.6249911  ...  0.04421293  1.31464347
   1.83246051]
 [-0.91145517  1.8187314  -1.26826545 ... -0.08533653 -0.57030058
   0.28557636]
 ...
 [ 0.46230639  1.42939772 -1.37060364 ...  0.30331186  1.19683446
  -0.98005613]
 [-0.16733433 -0.82317567 -1.06358907 ...  0.36808659 -0.80591858
  -0.51130336]
 [ 0.00438587  0.67853993 -0.85891268 ... -0.15011126 -0.62920508
  -0.88630558]]

In [100]:
clf=tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [101]:
confidence = clf.score(X_test, y_test)
print("\nThe confidence score:\n")
print(confidence)

The confidence score:

0.628125

In [108]:
y_pred = clf.predict(X_test)

In [110]:
x=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n")
for i in range(0,5):
    print (x[i])
    
#printing first five expectations
print("\nThe expectation:\n")
print (y_test.head())

The prediction:

7
6
7
5
5

The expectation:

1213    6
248     6
777     6
247     5
845     5
Name: quality, dtype: int64